body {
  background-color: pink;
}

header {
  background-color: palevioletred;
  height: 80px;
}

header > div {
  height: 100%;
  max-width: 1000px;;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.logo-img {
  height: 90%;
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}

.nav-links > a {
  text-decoration: none;
  color:black;
}

.centered-container {
  display: flex;
  height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
}

.centered-container > form {
  height: 400px;
  width: 350px;
  border-radius: 10%;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.centered-container > form > input {
  padding: 10px;
  font-size: 24px;
}

.centered-container > form > button {
  padding: 10px;
  font-size: 24px;
}
